@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	position: relative;
	/* width: 100vw; */
	overflow: hidden;
	overflow-y: visible;
	padding: 0;
	margin: 0;
	height: -webkit-fill-available;
	min-height: 100vh;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
}
/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
	html {
		/* The hack for Safari */
		min-height: -webkit-fill-available;
	}
}

.frozen {
	overflow-y: hidden;
}

h1 {
	color: var(--h1-color);
	font-size: var(--h1-size);
	line-height: var(--h1-leading);
	font-weight: var(--h1-weight);
}

h2 {
	color: var(--h2-color);
	font-size: var(--h3-size);
	line-height: var(--h2-leading);
	font-weight: var(--h2-weight);
}

h3 {
	color: var(--h3-color);
	font-size: var(--h3-size);
	line-height: var(--h3-leading);
	font-weight: var(--h3-weight);
}

h4 {
	color: var(--h4-color);
	font-size: var(--h4-size);
	line-height: var(--h4-leading);
	font-weight: var(--h4-weight);
}

p,
ul,
ol,
blockquote {
	color: var(--p-color);
	font-size: var(--p-size);
	line-height: var(--p-leading);
	font-weight: var(--p-weight);
}

a {
	color: var(--link-color);
	transition: all ease 200ms;
}
a:hover {
	color: var(--link-hover-color);
}

.external-svg svg {
	height: inherit;
	width: inherit;
}
